/* Font Families */
@font-face {
    font-family: "Raleway";
    src: url(Raleway-VariableFont_wght.ttf);
}
@font-face {
    font-family: "Bando";
    src: url(bando-Regular.otf);
}

body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #FEEEE2;
    overflow: hidden;
}

/* NAVIGATION */
.nav{
    transform: rotate(90deg);
}
/* Nav Tabs or Folders */
img{
    margin-top: -3.09vw;
    height: 55.5vw;
    width: auto;
    }
    
    #folderOne{
      z-index: -1;  
      position: fixed;
    }
    
    #folderTwo{
        z-index: -2; 
        position: fixed; 
        margin-left: 2vw;
      }
    
    #folderThree{
        z-index: -3;  
        position: fixed;
        margin-left: 8vw;
      }

/* Links and Pages */
#tabs{
 font-family: "Raleway";
 font-weight: bold;
 font-size: 2.2vw;
 color: black;
}
#tabs a{
    color: black;
    text-decoration: none;
}

/* Contents Tab */
#p2{
    margin-left: 66.5vw;
    margin-top: -23.5vw;
    position: absolute;
}
/* Data Tab */
#p3{
    margin-top: -39.5vw;
    margin-left: 76vw;
    position: absolute;
}
/* Tab Hover States */
#p3:hover{
    color: blue;
}
/* Yellow Scroll Message */
#message{
    font-family: "Bando";
    font-size: 1.5vw;
    border: 1.5px solid black;
    background-color: #FFD749;
    width: 55vw;
    padding-left: 2vw;
    line-height: 3vw;
    margin-left: 46vw;
    margin-top: -50.2vw;
    position: fixed;
}
/* Return to Home Button */
#message a{
    color: black;
    text-decoration: none;
}
/* Home Button Hover State*/
#message:hover{
    text-decoration: underline;
}

/* INFORMATION */
.information{
    font-family: "Bando";
    margin-top: 3vw;
    margin-left: 4vw;
    font-size: 1.5vw;
    padding-right: 60vw;
}
/* ABOUT THIS DATA SET */
/* Title */
h2{
    font-size: 2vw;
    text-transform: uppercase;
    margin-bottom: -2vw;
}
/* Headers */
span{
    text-transform: uppercase;
}
/* Line Breaks */
/* .break{
line-height: 1vw;
} */

/* SAMPLE PERMITS */
#images{  
    margin-top: -46.5vw;
    margin-left: 39vw;
    position: fixed;
   }

   #square{
    height: 1800px;
    width: 3%;
    background-color:#FEEEE2;
    z-index: 2;
    margin-top: -60vw;
}

/* MEDIA QUERIES */
/*Ipad/Tablets*/
@media only screen and (max-width: 600px){
    #container{
        transform: rotate(90deg) scale(1.52);
        margin-left: 92vw;
        top: 136vw;
    }
    h2{
     margin-top: 86vw;
     font-size: 3.5vw;
     margin-bottom: -3vw;
    }
    .information{
     font-size: 2vw;
     margin-left: 6vw;
     padding-right: 4vw;
    }
         
         /* #Description{
             margin-top: 4vw;
             margin-left: 10vw;
             font-size: 4vw;
             line-height: 4.5vw;
         } */
         .information br {
            margin: -100px;
             }
 .nav{
     transform: rotate(0deg);
 }
 /* Folders */
 img{
     transform: rotate(-90deg) scale(1.81);
     margin-top: -37vw;
     /* height: auto;
     width: 101vw; */
     margin-left: 7vw;
     }
     #folderTwo{
         z-index: -2; 
         position: fixed; 
         margin-left: 7vw;
       }
     
     #folderThree{
         z-index: -3;  
         position: fixed;
         margin-left: 7vw;
       }
         /* Contents Tab */
         #p2{
             margin-left: 35.5vw;
             margin-top: -61vw;
             position: absolute;
             font-size: 4vw;
         }
         /* Data Tab */
         #p3{
             margin-top: -79vw;
             margin-left: 52.5vw;
             position: absolute;
             font-size: 4vw;
         }
         /* exclusive and inclusive are two sides of the spectrum */
         #message{
             font-size: 4vw;
             padding-left: 3vw;
             line-height: 7vw;
             margin-left: -0.3vw;
             margin-top: -86.2vw;
             position: fixed;
             width: 100vw;
         }
         
         /* CONTENTS SAMPLE PERMITS */
 #images{
     margin-left: 30vw;
     position: fixed;
     width: 2vw;
     margin-top: -70vw;
    }
 }
